<?xml version="1.0" encoding="utf-8"?>

<!--
  Model primitives.

  Author: Helio Perroni Filho
-->

<robot name="roselito" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find roselito_description)/urdf/roselito.xacro"/>
  <xacro:include filename="$(find ros_commons)/urdf/gazebo.xacro"/>

  <xacro:macro
    name="wheel_joint_names"
    params="
      position
    "
  >
    <joint_name>joint_wheel_${position}_left</joint_name>
    <joint_name>joint_wheel_${position}_right</joint_name>
  </xacro:macro>

  <xacro:macro
    name="wheel_attributes"
    params="
      position
    "
  >
    <left_joint>joint_wheel_${position}_left</left_joint>
    <right_joint>joint_wheel_${position}_right</right_joint>
    <wheel_diameter>${wheel_diameter}</wheel_diameter>
    <wheel_separation>${wheel_separation}</wheel_separation>
  </xacro:macro>

  <xacro:skid_controller
    name="wheels"
  >
    <joints>
      <xacro:wheel_joint_names position="front"/>
      <xacro:wheel_joint_names position="center"/>
      <xacro:wheel_joint_names position="rear"/>
    </joints>
    <wheels>
      <num_wheel_pairs>3</num_wheel_pairs>
      <xacro:wheel_attributes position="front"/>
      <xacro:wheel_attributes position="center"/>
      <xacro:wheel_attributes position="rear"/>
    </wheels>
  </xacro:skid_controller>

  <xacro:remove_friction position="front"/>
  <xacro:remove_friction position="rear"/>

  <xacro:depth_camera name="camera_front"/>
  <xacro:lidar_2d name="laser"/>
</robot>
