<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world" default="$(find-pkg-share roselito_gazebo)/worlds/willow_garage.world"/>
  <include file="$(find-pkg-share gazebo_ros)/launch/gzserver.launch.py">
    <arg name="world" value="$(var world)"/>
  </include>
  <include file="$(find-pkg-share gazebo_ros)/launch/gzclient.launch.py">
    <arg name="gui_required" value="true"/>
  </include>

  <arg name="model" default="$(find-pkg-share roselito_gazebo)/urdf/roselito.xacro"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher">
    <param name="robot_description" value="$(command 'xacro $(var model)')" type="str"/>
  </node>

  <node name="spawn_roselito" pkg="gazebo_ros" exec="spawn_entity.py"
    args="-entity roselito -topic /robot_description"
  />

  <include file="$(find-pkg-share ros_commons)/launch/rviz_teleoperation.launch"/>
  <include file="$(find-pkg-share ros_commons)/launch/rqt_steering.launch"/>
</launch>
